@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: black linear-gradient(to bottom right, #0113E0, #3600E0, #7F00E0)fixed;
    height: 100vh;
    color: white;
}

header > div#icon {
    margin: 5px;
}

header  img {
    height: 40px;
}

header p {
    position: absolute;
    top: 1.3%;
    display: inline;
    font-weight: bolder;
    font-size: 1.5em;
}

nav {
    display: none;
   
}

#botao {
    position: absolute;
    top: 1.5%;
    right: 5%;
}

section#inicio > picture > img {
    display: block;
    margin: auto;
}

section#inicio > h1 {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 400px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    text-align: center;
    line-height: 45px;
}

section#inicio > h1 > span {
    background-color: rgb(177, 177, 2);
    padding: 5px;
    border-radius: 3px;
}

section#inicio > p {
    margin: auto;
    margin-top: 20px;
    text-align: center;
    width: 300px;
}

section#inicio > div{
    position: relative;
    height: 100px;
    margin:auto
}

section#inicio > div > a {
    display: block;
    background-color: rgb(177, 177, 2);
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.219);
    text-decoration: none;
    font-weight: bolder;
    border-radius: 50px;
    width: 90px;
    margin: auto;
    margin-top: 50px;
    padding: 15px;
}

section#inicio > div > a:hover {
    background-color: rgb(206, 206, 5);  
    transition: background-color 0.5s ease;

}

section#inicio article {
    background-image: linear-gradient(to right, rgba(206, 206, 5, 0.705), rgba(206, 206, 5, 0.788));
    border-radius: 20px;
    width: 350px;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
}

section#inicio article > h2{
    text-align: center;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section#inicio article p {
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 10px;
}

section#inicio article#introducao > img{
    display: block;
    height: 210px;
    margin: auto;
    border-radius: 20px;
}

section#inicio article#desenvolvimento {
    background-image: linear-gradient(to right, rgba(151, 151, 6, 0.705), rgba(151, 151, 6, 0.788));
    margin-top: 100px;
}

section#inicio #desenvolvimento > img{
    display: block;
    margin: auto;
    height: 190px;
    border-radius: 20px;

}

a {
    color: white;
}